:root{
    --pick--color:#ff6b81;
    --white--color:#ffffff;
    --black--color:#000000;
    --silver--color:#999999;
    --content--background:#f1f2f6;
    --footer--background:#ff4757;
    --CSE--color:#2e0dd2;
    --success--color:green;
    --error--color:red;
    --blue--color:#1e90ff
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}